
<table  border="1" style="border:solid">
<tr >
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 1 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 2 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 3 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 4 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 5 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 6 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 7 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 8 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 9 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @@imagen.posicion 10 %>.gif" width="100px" height="100px"></td>


</tr>

</table>
