<div>
<h1>Juego de la Oca</h1>
</div>
<div>
<a href="/jugar"><p>jugada</p></a>
</div>
<div>
Posicion actual : <%= @@juego.posicion %>
</div>
<div>
<%= @mensaje %>
</div>
<!--
<%= "#LA VARIABLE POSICION CAMBIA A 4 --- ACTIVA DIFICULTAD-- CAMBIA VARIABLE POSICION DESDE EL BACK Y MUESTRA MENSAJE PERO NO MUESTRA EL CAMBIO DE VARIABLE POSICION EN LA VISTA SOLAMENTE " %>
-->


<table  border="1" style="border:solid">
<tr >
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 1 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 2 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 3 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 4 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 5 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 6 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 7 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 8 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 9 %>.gif" width="100px" height="100px"></td>
<td width="100px" height="100px" style="border:solid"><img src="/images/<%= @imagen.posicion 10 %>.gif" width="100px" height="100px"></td>
</tr>
</table>
